body {
    font-family: "Open Sans";
    background-color: #888;
    margin: 1em auto;
    font-size: 18px;
    width: 1000px;
}
#wrapper {
    display: inline-block;
    background-color: white;
    padding: 0 1em 1em;
    width: 1000px;
}
dt {
}
dd {
    margin-left: 1.7em;
    margin-bottom: 0.5em;
}
h1, h2, h3 {
    font-family: "Lustria";
    font-weight: normal;
    border-bottom: 1px solid #ddd;
}
svg, #legend {
    border: 1px solid #aaa;
}
g.node {
    cursor: pointer;
}
g.not-selected circle {
    fill-opacity: 0.3;
}
g.not-selected text {
    opacity: 0.3;
}
g.selected circle {
    /*
    stroke-width: 4px;
    stroke: red;
    */
}
g.connected circle {
    fill-opacity: 1;
}
text.label.hidden, line.link.hidden {
    display: none;
}
g.selected text {
}
line.link {
    stroke: #aaa;
    opacity: 0.7;
}
#date-slider {
    margin: 0 auto 1em;
}
#graph-wrapper {
    vertical-align: top;
    width: 820px;
    float: left;
}
#info-wrapper {
    margin-left: 16px;
    width: 270px;
    vertical-align: top;
    float: left;
}
#graph {
    margin-bottom: 1em;
}
#controls {
    text-align: center;
}
#legend {
    overflow-y: auto;
    text-align: left;
    padding: 1em;
}
#legend > div > span {
    vertical-align: top;
    line-height: 40px;
}
.legend-swatch {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 1em;
}
#frame-info {
    margin-bottom: 2em;
}
#site-image img {
    width: 100%;
}
#node-info, #site-image {
    font-size: 0.7em;
}
